body{
    background-image: url("../images/back2.jpg");
    background-size:100%;
    background-color: black;
    display: flex;
}
/*mobile*/
@media screen and (max-width: 567px) {
    body{
        background-image: url("../images/back2.jpg");
        background-size:100%;
        background-color: black;
        
    }
    .button{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .guide
    {
    text-align: center;
    
    }
    
}
/*pc*/
@media screen and (min-width: 1645px) {
    body{
        background-image: url("../images/back.jpg");
        background-size:100%;
        background-color: black;
        
        
        
    }
    .button{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .guide
    {
    text-align: center;
    
    }
    
}

.guide
{
    text-align: center;
    margin-left: 400px;
    font-size: 1.5rem;
}
button
{  
    background: grey;
    margin: 300px 100px 100px 350px;
    flex-direction: row;
    height: 500px;
    width: 200px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4rem;
    border-color:rgb(66, 16, 16) ;
    border-radius: 5px;
    
}
a{
    text-decoration: none;
    color: rgb(66, 16, 16);
}


p{
    color:goldenrod;
    margin-left: 470px;
}
h1
{
    color:goldenrod;
    margin-left: 350px;
}

